---
import MainLayout from "@layouts/MainLayout.astro";
import HolidayCard from "@components/cards/HolidayCard.astro";
import type {Holiday} from "../../utils/def/holidays";
import {format} from "@formkit/tempo"

import Header from "../../components/shared/Header.astro";
import {getCollection} from "astro:content";
import {sortHolidays} from "../../utils/date";
import HolidaysByYear from "../../components/shared/HolidaysByYear.astro";

const holidays2025Collection = await getCollection("holidays_2025") as { data: Holiday }[];

// sort holidays by date
const sortedHolidays2025 = holidays2025Collection
    .filter(({ data }) => data.date !== undefined)
    .sort((a, b) => sortHolidays(a.data, b.data));
---

<MainLayout
        title="Todos los feriados de Chile año 2024"
        description="Lista completa de los feriados en Chile para el año 2024"
>
    <Header
            title="Feriados Chile"
            currentYear={2025}
            href="/"
    />
    <div class="container mx-auto p-4">
        <!-- Feriados Generales -->
        <section class="my-8">
            <h2 class="text-2xl font-semibold mb-4">Feriados 2025</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                {
                    sortedHolidays2025.map(({data}) => (
                            <HolidayCard holiday={data}/>
                    ))
                }
            </div>
        </section>
        <HolidaysByYear />
    </div>
</MainLayout>