---
import MainLayout from "@layouts/MainLayout.astro";
import {HolidayCard} from "@components/cards/HolidayCard";
import {Timer} from "@components/Timer";
import type {Holiday} from "@data/2024/holidays";
import {format} from "@formkit/tempo"

import {actions} from "astro:actions";

const {data} = await actions.GetAllHolidays({}) as { data: Holiday[] };

const currentYear = format(new Date(), "YYYY", "cl");
---

<MainLayout>
    <div class="container mx-auto p-4">
        <a href="/">
            <h1 class="text-3xl font-bold text-center my-4">

                Feriados en Chile {currentYear}
            </h1>
        </a>

        <div class="text-center min-h-9">
            <Timer client:only="react"/>
        </div>

        <!-- Feriados Generales -->
        <section class="mb-8">
            <h2 class="text-2xl font-semibold mb-4">Feriados {format(new Date(), "YYYY", "cl")}</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                {
                    data.map((item: Holiday) => (
                            <HolidayCard holiday={item}/>
                    ))
                }
            </div>
        </section>
    </div>
</MainLayout>