---
import MainLayout from "@layouts/MainLayout.astro";
import HolidayCard from "@components/cards/HolidayCard.astro";
import type {Holiday} from "../../utils/def/holidays";
import {format} from "@formkit/tempo"

import Header from "../../components/shared/Header.astro";
import {getCollection} from "astro:content";

const holidays2024Collection = await getCollection("holidays_2024") as { data: Holiday }[];
---

<MainLayout
        title="Todos los feriados de Chile año 2024"
        description="Lista completa de los feriados en Chile para el año 2024"
>
    <Header
            title="Feriados Chile"
            currentYear={2024}
            href="/"
    />
    <div class="container mx-auto p-4">
        <!-- Feriados Generales -->
        <section class="my-8">
            <h2 class="text-2xl font-semibold mb-4">Feriados {format(new Date(), "YYYY", "cl")}</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                {
                    holidays2024Collection.map(({data}) => (
                            <HolidayCard holiday={data}/>
                    ))
                }
            </div>
        </section>
    </div>
</MainLayout>