---
import GeneralButton from "../shared/buttons/GeneralButton.astro";
import {type Holiday, HolidayType} from "@utils/def/holidays.ts";
import {format, parse} from "@formkit/tempo";

interface Props {
    holiday: Holiday
}

const { holiday } = Astro.props;

let date;
let capitalizeDate;

if(holiday.date) {
    date = format({
        date: parse(holiday.date.toISOString(), "YYYY-MM-DD", "es-CL"),
        format: "full",
        locale: "es",
        tz: "America/Santiago",
    })
    capitalizeDate = date.charAt(0).toUpperCase() + date.slice(1);
} else {
    capitalizeDate = holiday.description;
}

const isDifferent = holiday.type === HolidayType.Special || holiday.type === HolidayType.Local;

---

<div class={`p-4 rounded-lg shadow-md flex flex-col mb-4 ${isDifferent ? 'bg-green-100' : 'bg-white'}`}>
    <div class="flex-grow prose prose-neutral prose-p:text-black">
        <h3 class="text-lg font-semibold">{capitalizeDate}</h3>
        <p class="">{holiday.description}</p>
    </div>
    <hr class="bg-gray-300 h-[1px] my-4"/>
    <div class="flex-grow">
        <p><strong>Tipo:</strong> {holiday.type}</p>
        <p><strong>Irrenunciable:</strong> {holiday.irrenunciable ? "Sí" : "No"}</p>
        {holiday.beneficiaries && <p><strong>Beneficiarios:</strong> {holiday.beneficiaries}</p>}
        <p><strong>Respaldo Legal:</strong> {holiday.legalSupport}</p>
        {
            holiday.slug &&
                <div class='my-3 w-full flex justify-end'>
                    <GeneralButton
                            href={holiday.slug}
                            text='Ver más'
                    />
                </div>
        }
    </div>
</div>