---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/shared/Header.astro";
import {GeneralButton} from "../components/shared/buttons/GeneralButton";
import type {GetStaticPaths} from "astro";
import {getCollection} from "astro:content";

export const getStaticPaths = (async () => {
	const articles = await getCollection("articles");

	return articles.map(articleItem => {
        return {
            params: {
                slug: articleItem.slug
            },
            props: {
                article: articleItem
            }
        }
    });
}) satisfies GetStaticPaths;

const { article } = Astro.props;

const {Content} = await article.render();

---
<MainLayout
        title={article.data.title}
        description={article.data.description}
        socialImage={article.data.image}
>
    <Header
            title="Feriados Chile"
            href="/"
            isHeading={false}
    />
    <hr class="my-8 border-0"/>
    <main class="w-full flex flex-col items-center justify-center">
        <article class="shadow mx-4 p-8 rounded bg-white">
            <picture>
                <img
                        src={article.data.image}
                        alt={article.data.title}
                        class="w-full shadow h-auto object-cover max-h-80 rounded mb-5"
                />
            </picture>
            <div class="prose prose-h1:text-2xl prose-h2:text-xl">
                <h1 class="text-3xl font-semibold mb-4">
                    {article.data.title}
                </h1>
                <Content/>
                <div class='my-3 w-full flex justify-end'>
                    <GeneralButton
                            href={'/'}
                            text='Volver atrás'
                    />
                </div>
            </div>
        </article>
    </main>
</MainLayout>