---
import {SITE_AUTHOR, SITE_DESCRIPTION, SITE_IMAGE, SITE_NAME} from "../utils/config.global";

interface Props {
    title?: string;
    description?: string;
    socialImage?: string;
}

const year = new Date().getFullYear();

const {
    title = `✔ Feriados Chilenos - ${year} ${SITE_NAME}`,
    description = SITE_DESCRIPTION,
    socialImage= SITE_IMAGE.src
} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!-- add favicon -->
    <link rel="icon" type="image/icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width"/>

    <!-- socials meta -->
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:image" content={socialImage}/>
    <meta property="og:url" content={Astro.url}/>

    <!-- SEO -->
    <meta name="description" content={description}/>
    <meta name="author" content={SITE_AUTHOR}/>

    <!-- canonical -->
    <link rel="canonical" href={Astro.url}/>

    <!-- Google Analytics -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3L1KYPN7S6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3L1KYPN7S6');
    </script>

    <title>{title}</title>
</head>
<body class="bg-gray-100 text-gray-900">
    <slot/>
<footer class="text-center text-sm text-gray-600 my-[50px]">
    <p >
        Feriados de Chile {year} - Feriados.app
    </p>
    <p>
        <small>
            Desarrollado por 👨‍💻 <a href="https://uncodigo.com" target="_blank" rel="external">Felipe</a>
        </small>
    </p>
</footer>
</body>
</html>